
* {
    font-family: 'Inter', sans-serif;
}


html, body {
    margin:auto;
    padding:0;
    max-width:1920px;
    height:100%;

}

#container {
    max-width: 1192px;
    margin: auto;
}

#header {
    height:100px;
}

#main_logo {
    padding-top:35px;
    padding-left:20px;
}

#main_logo img{
    width: 80px;
    height: auto;
}

.nav-item {
    text-align: center;
}

.nav-width {
    width: 120px;
}

#icon_dropdown {
    width:141px;
    height:auto;
    display:inline-block;
    margin-left: 20px;
}

#icon_dropdown li{
 display: inline-block;
}


#underline {
    width:23px;
    height:8px;
    border-bottom: white solid 1px;
    position: relative;
    left: 30px;
}


#content {
    width: 100%;
    min-height: 580px;
    background-color: black;
    margin-top:-10px;
    overflow:hidden;
    position: relative;
}

.collapse {
    width:30px;
}

#content_box1 {
    width:550px;
    min-height:300px;
    position: relative;
    left:150px;
    top:130px;
}

#content_box1_header {
    font-size: 50px;
    font-weight: 600;
    min-height: 100px;
    line-height: 60px;
    color:#fff;
    letter-spacing: 1px;
}

#content_box1_header p {
    margin-bottom:0px;
}

#content_box1_line {
    width: 70px;
    height:0px;
    border-top: 1px solid #fff;
    margin-top: 25px;
    margin-bottom: 25px;

}

#content_box1_sub {
    color:#fff;
  /*  position: relative;
    top:210px;*/
    letter-spacing: 1.5px;
}

#content_img {
    position: absolute;
    left: 780px;
    top: 100px;

}

#content_img img {
    width:auto;
    height:auto;

}

#content2 {
    width: 100%;
    height:1000px;
    background-color: white;
    overflow:hidden;
    position:relative;
}

#content2_box1 {
    width:400px;
    min-height:300px;
    position: absolute;
    left:610px;
    top:200px;
}
#content2_box1_header{
    margin-top:5px;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    position:absolute;
    color: #222;

}

#content2_box1_line {
    width: 50px;
    border-top: 1px solid #222;
    position: relative;
    top:75px;

}
#content2_box1_sub {
    color:#222;
    position: relative;
    top:100px;
    letter-spacing: 1.5px;
}

#content2_box2 {
    width:400px;
    min-height:300px;
    position: absolute;
    left:350px;
    top:600px;
}
#content2_box2_header {
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    position:absolute;
    color: #222;
}

#content2_box2_line {
    width: 50px;
    border-top: 1px solid #222;
    position: relative;
    top:70px;

}
#content2_box2_sub {
    color:#222;
    position: relative;
    top:95px;
    letter-spacing: 1.5px;
}

#content2_img1 {
    position:absolute;
    left:780px;
    top:-482px;
}

#content2_img2 {
    position: absolute;
    left: -150px;
    top: 300px;
}

#content2_img2 img {
    width: 400px;
    height: auto;

}

#content2_img3 {
    position:absolute;
    left: 900px;
    top: 502px;
}

#footer {
    width: 100%;
    border-top: 2px solid lightgrey;
  /*  background-color: #f5f5f5;*/
    padding-top:5px;
    padding-bottom:5px;
}

#copyright {
    width: 50%;
    display: inline-block;
}

#copyright address {
    display: inline-block;
    font-size: 15px;
    color: #646973;
    list-style:none;
}

#copyright li {
    display: inline-block;
}

#footer_lang {
    display: inline-block;
}

#footer_lang i {
    margin: 10px;
}

#footer_icons {
    width: 49%;
    text-align: right;
    display: inline-block;
    list-style: none;
}

#footer_icons li{
    display: inline-block;

}

#footer_icons li a {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

/*.gotop a i{
    font-size: 15px;
}*/