
* {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialised;
}


html, body {
    margin: auto;
    padding: 0;
    max-width: 1920px;
    height: 100%;

}

#container {
    max-width: 1194px;
    margin: auto;
    height: auto;
    overflow: hidden;
}



#header {
    width: 100%;
    background-color: black;
    position: relative;
    height: 100px;

}

@media (max-width: 1023px){
    #header { 
        height: 100px; 
    }
}

@media (max-width: 767px){
    #header { 
        height: 100px;

    }
}

@media (max-width: 479px){
    #header { 
        height: 80px;

    }
}

@media (max-width: 379px){
    #header { 
        height: 100px;
        margin-top: -20px;
        padding-left:0;
        padding-right:0;

    }
}


#main_logo {
    padding-top: 35px;
    padding-left: 20px;
    z-index: 99999;
}


#main_logo img {
    width: 80px;
    height: auto;
}

@media (max-width: 1023px){
    #main_logo img { 
        width: 80px; 
    }
}

@media (max-width: 767px){
    #main_logo img { 
        width: 80px;

    }
}

@media (max-width: 479px){
    #main_logo img { 
        width: 70px;

    }
}


.dropdown-menu{
    position:absolute;
}

.nav-item {
    text-align: center;
}

.nav-width {
    width: 120px;
}

/* hamburger menu and language changer for responsive*/
#langham {
    width:50%;
}

#language_sm {
    display: inline-block;
}

#hamburger {
    display: inline-block;
    position:relative;
}
.nav-item2 {
    position: relative;
    list-style: none;
    color:white;
    
}

.nav-item2 .nav-link2{
    color: white;
    list-style: none;
}


@media(min-width: 767px){
    #language_sm {
     display: none;
 }
}

/* menu for responsive end*/
#burger_menu{
    background-color:white;
    position: absolute;
    z-index: 999999999;
    top:0;
    left:0;
    margin-top:4000px;
    width:770px;
    height: 1391px;
    
}
@media (min-width:767px){
    #burger_menu{
        display: none;
    }
}

#burger_menu {
    width: 100%;
}

#burger_menu2 {
    width: 85%;
    margin: auto;
    margin-top: 200px;


}

#exit_button{
    width: 100%;
    display:block;
    text-align: right;
    padding-right: 100px;
    padding-top:50px;
    font-size:50px;
}

#exit_button a {
    color:black;
    font-family: helvetica;
    font-weight:100;
}

#burger_about {
    width:100%;
    font-size: 70px;
    padding-left: 100px;
}

#burger_about a{
    color: black;
    font-family: helvetica;
    font-weight: 530;
    letter-spacing: 1px; 
}

#burger_work {
    width:100%;
    font-size: 70px;
    padding-left: 100px;
}

#burger_work a{
    color: black;
    font-family: helvetica;
    font-weight: 530;
    letter-spacing: 1px; 
}

#burger_contact {
    width:100%;
    font-size: 70px;
    padding-left: 100px;
}

#burger_contact a {
    color: black;
    font-family: helvetica;
    font-weight: 530;
    letter-spacing: 1px; 
}

#burger_icon {
    margin: auto;
    position: absolute;
    right: 50px;
    bottom: 500px;
    width: 50%;
    text-align: right;
}


#burger_icon li {
    list-style: none;
    display: inline-block;
}

#burger_icon li a {
    color:black;
    font-size: 50px;
}

#icon_dropdown {
    width:141px;
    height:auto;
    display:inline-block;
    margin-left: 20px;
}

#icon_dropdown li{
   display: inline-block;
}


#underline {
    width:23px;
    height:8px;
    border-bottom: white solid 1px;
    position: relative;
    left: 30px;
}


#content {
    width: 100%;
    min-height: 580px;
    background-color: black;
    margin-top:-10px;
    overflow:hidden;
    position: relative;
}

@media(max-width:1023px){
    #content{

    }
}

.collapse {
    width:30px;
}

/* main content box starts here-------------*/
#content_box1 {
    width: 540px;
    min-height: 300px;
    position: relative;
    left: 150px;
    top: 130px;
}

@media (max-width:1023px){
    #content_box1 {
        width:480px;
        left:120px;
        top:100px;
    }
}

@media (max-width:767px){
    #content_box1 {
        width:350px;
        left:80px;
        top:80px;
    }
}

@media (max-width:479px){
    #content_box1 {
        width: 400px;
        height: 200px;
        left: 70px;
        top: 80px;
    }
}

@media (max-width:375px){
    #content_box1 {
        width:350px;
        left:15%;
        top:90px;
        min-height: 100px;
    }
}

#content_box1_header {
    font-size: 50px;
    font-weight: 600;
    min-height: 100px;
    line-height: 60px;
    color:#fff;
    letter-spacing: 1px;
}

@media (max-width:1023px){
    #content_box1_header {
        font-size: 45px;
    }
}

@media (max-width:767px){
    #content_box1_header {
        font-size: 40px;
    }
}

@media (max-width:479px){
    #content_box1_header {
        font-size: 30px;
        line-height: 40px;
    }
}
@media (max-width:375px){
    #content_box1_header {
        font-size: 27px;
        line-height: 30px;   
    }
}
#content_box1_header p {
    margin-bottom:0px;
}

#content_box1_line {
    width: 70px;
    height: 0px;
    border-top: 1px solid #fff;
    margin-top: 25px;
    margin-bottom: 25px;

}

@media (max-width:767px){
    #content_box1_line {
        margin-top:20px;
        margin-bottom:20px;
    }
}

@media (max-width:479px){
    #content_box1_line {
        margin-top:15px;
        margin-bottom:15px;
    }
}

@media (max-width:375px){
    #content_box1_line {
        margin-top:10px;
        margin-bottom:15px;
    }
}

#content_box1_sub {
    color:#fff;
  /*  position: relative;
  top:210px;*/
  letter-spacing: 1.5px;
}

@media (max-width:767px){
    #content_box1_sub {
        font-size: 16px;
        width:350px;   
    }
}
@media (max-width:479px){
    #content_box1_sub {
        font-size: 14px;
        width:350px;
    }
}

@media (max-width:375px){
    #content_box1_sub {
        font-size: 12px;
        width:250px;
    }
}

/* first Ring start--------------------*/
#content_img {
    position: absolute;
    right: -186px;
    top: 120px;

}
@media (max-width: 1150px){
    #content_img {
        right: -220px;
        top: 120px;

    }
}

@media (max-width: 1023px){
    #content_img {
        right: -305px;
        top: 130px;

    }
}

@media (max-width: 767px){
    #content_img {
        right: -220px;
        top: 280px;

    }
}

@media (max-width: 479px){
    #content_img {
        right: -220px;
        top: 350px;

    }
}

#content_img img {
    width: 600px;
    height: 600px;

}

@media (max-width: 1150px){
    #content_img img{
        width: 560px;
        height: 560px;
    }
}

@media (max-width: 1023px){
    #content_img img{
        width: 600px;
        height: 600px;
    }
}


@media (max-width: 874px){
    #content_img img{
        width: 500px;
        height: 500px;
    }
}


@media (max-width: 767px){
    #content_img img{
        width: 480px;
        height: 480px;
    }
}

@media (max-width: 479px){
    #content_img img{
        width: 400px;
        height: 400px;
    }
}

/* first RING END-----------------*/

/* Content2 part starts here-----------------*/
#content2 {
    width: 100%;
    min-height: 700px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

@media (max-width: 375px){
    #content2 {
        height: 600px;
    }

    /* Content2 box1 starts here-------------------------*/
}
#content2_box1 {
    width: 500px;
    min-height: 300px;
    position: absolute;
    left: 610px;
    top: 200px;
}

@media (max-width: 1150px){
    #content2_box1{
        left: 50%;
        top: 30%;
    }
}

@media (max-width: 1023px){
    #content2_box1{
        left: 40%;
        top: 20%;
    }
}

@media (max-width:767px){
    #content2_box1{
        left:30%;
        top:15%;
    }
}

@media (max-width:479px){
    #content2_box1{
        width: 400px;
    }
}

@media (max-width:375px){
    #content2_box1{
        width:350px;
        left:15%;
        top: 25%;
        min-height: 100px;
    }
}

#content2_box1_date{

    font-family:helvetica;
}

@media (max-width:375px){
    #content2_box1_date{
        font-size: 13px;
    }
}

#content2_box1_header{
    margin-top: 5px;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    position: absolute;
    color: #222;
}

@media (max-width:767px){
    #content2_box1_header{
        font-size: 40px;
    }
}

@media (max-width:375px) {
    #content2_box1_header{
        font-size: 27px;
    }
}
/* content2_box1_header finishes here --------------*/
/* content2_box1_line starts here--------------*/

#content2_box1_line {
    width: 50px;
    border-top: 1px solid #222;
    position: relative;
    top:75px;

}

@media (max-width:767px) {
    #content2_box1_line {
        width:60px;
        margin-top: -5px;
        margin-bottom: -5px;
    }
}

@media (max-width:375px) {
    #content2_box1_line {
       margin-top: -15px;
       margin-bottom: -15px;
   }
}
/* content2_box1_line finishes here------------------*/

#content2_box1_sub {
    color: #222;
    position: relative;
    top: 100px;
    letter-spacing: 1.5px;
}


#content2_box1_sub a {
    color: #6d0776;
    font-weight: bold;
}

@media (max-width:767px){
    #content2_box1_sub {
        width:300px;
        
    }
}

@media (max-width:375px){
    #content2_box1_sub {
        font-size: 12px;
        
    }
}


/*language list*/
#content2_box1_langlist {
    width: 100%;

}
#content2_box1_langlist1 {
    width: 49%;
    display: inline-block;
}

#content2_box1_langlist2 {
    width: 49%;
    display: inline-block;
}
/*language list end*/



/* content2_box1_finishes here----------------*/

/* content2_box2 starts here-------------------*/
/*#content2_box2 {
    width:400px;
    min-height:300px;
    position: absolute;
    left:350px;
    top:600px;
    display:none;
}

#content2_box2_header {
    margin-top:5px;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    position:absolute;
    color: #222;
}

#content2_box2_line {
    width: 50px;
    border-top: 1px solid #222;
    position: relative;
    top:75px;

}

#content2_box2_sub {
    color: #222;
    position: relative;
    top: 100px;
    letter-spacing: 1.5px;
}
*/

/* content2_box2_finishes here----------------*/

/* Second Ring Starts here --------------------*/
#content2_img1 {
    position: absolute;
    right: -186px;
    top: -462px;
}

@media (max-width: 1150px){
    #content2_img1{
        right: -220px;
        top: -462px;
    }
}

@media (max-width: 1023px){
    #content2_img1{
        right: -305px;
        top: -452px;
    }
}

@media (max-width: 767px){
    #content2_img1{
        right: -220px;
        top: -302px;
    }
}

@media (max-width: 479px){
    #content2_img1{
        right: -220px;
        top: -232px;
    }
}

#content2_img1 img{
    width: 600px;
    height: 600px;
}

@media (max-width: 1150px){
    #content2_img1 img{
        width: 560px;
        height: 560px;
    }
}

@media (max-width: 1023px){
    #content2_img1 img {
        width: 600px;
        height: 600px;
    }
}


@media (max-width: 874px){
    #content2_img1 img {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 767px){
    #content2_img1 img {
        width: 480px;
        height: 480px;
    }
}


@media (max-width: 479px){
    #content2_img1 img {
        width: 400px;
        height: 400px;
    }
}
/* Second Ring finishes here-----------------*/

/* Third Ring Starts here--------------------*/
#content2_img2 {
    position: absolute;
    left: -150px;
    top: 300px;
}


@media (max-width: 375px){
    #content2_img2 {
        position: relative;
        left: -150px;
        top: 500px;
    }
}

#content2_img2 img {
    width: 400px;
    height: auto;

}

@media (max-width: 375px){
    #content2_img2 img {
        width: 350px;
        height: 350px;
    }
}

/* Third Ring finishes here----------------------*/
/* fourth Ring Starts here-----------------------*/
/*#content2_img3 {
    position:absolute;
    left: 900px;
    top: 502px;
    }*/

    /*fourth Ring finishes here--------------------*/
    #footer {
        width: 100%;
        border-top: 2px solid lightgrey;
        /*  background-color: #f5f5f5;*/
        padding-top:5px;
        padding-bottom:5px;
    }

    #copyright {
        width: 50%;
        display: inline-block;
        position:relative;
        top:50px;
    }

    @media (max-width:375px){
    #copyright {
        width:100%;
        text-align:center;
    
    }
}

    #copyright address {
        display: inline-block;
        font-size: 15px;
        color: #646973;
        list-style:none;
    }
/*      @media (max-width:375px){
    #copyright address {
        display: block;
    }
}*/

    #copyright li {
        display: inline-block;
    }

    #footer_lang {
        display: inline-block;
    }

    #footer_lang i {
        margin: 10px;
    }

  /*  @media (max-width:367px){
    #footer_lang li i {
        padding: 100px;
        
    }
}*/
    #footer_icons {
        width: 49%;
        text-align: right;
        display: inline-block;
        list-style: none;
    }

       @media (max-width:375px){
    #footer_icons {
        width:100%;
        text-align:center;
        position:relative;
        bottom:40px;
    }
}

    #footer_icons li{
        display: inline-block;

    }



    #footer_icons li a {
        font-weight: bold;
        color: black;
        font-size: 18px;
        display: inline;

    }

    @media (max-width:375px){
     #footer_icons li a{
        font-weight: bold;
        color: black;
        font-size: 25px;
        letter-spacing: 33px;

    }
}
    @media(max-width:375px){
         #footer_icons li a i{
        width:100%;
        height:100%;
        text-align:center;
    }
    }
    /* 상위로 보내주는 버튼*/
    #myBtn {
      display: none; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 65px; /* Place the button at the bottom of the page */
      right: 10px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      /*  background-color: ;  Set a background color */
      color: black; /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 10px; /* Some padding */
      border-radius: 25px; /* Rounded corners */
      font-size: 15px; /* Increase font size */
  }

  #myBtn:hover {
      background-color: #555; /* Add a dark-grey background on hover */
  }