
* {
    font-family: 'inter', Arial, sans-serif;
    -webkit-font-smoothing: antialised;
}


html, body {
    margin: auto;
    padding: 0;
    max-width: 1920px;
    height: 100%;
}

.navbar { box-shadow: none !important; }

.btn { box-shadow: none !important; }

#container {
    max-width: 1194px;
    height: auto;
    margin: auto;
    overflow: hidden;
}


#header {
    width: 100%;
    background-color: black;
    position: relative;
    height: 100px;

}

@media (max-width: 1023px){
    #header { 
        height: 100px; 
    }
}

@media (max-width: 767px){
    #header { 
        height: 100px;

    }
}

@media (max-width: 479px){
    #header { 
        height: 80px;

    }
}

@media (max-width: 379px){
    #header { 
        height: 100px;
        margin-top: -20px;
        padding-left:0;
        padding-right:0;

    }
}

.nav-link {
    color: black;
}

#main_logo {
    padding-top: 35px;
    padding-left: 20px;
    z-index: 99999;
}

#main_logo img {
    width: 80px;
    height: auto;
}

@media (max-width: 1023px){
    #main_logo img { 
        width: 80px; 
    }
}

@media (max-width: 767px){
    #main_logo img { 
        width: 80px;

    }
}

@media (max-width: 479px){
    #main_logo img { 
        width: 70px;

    }
}

.dropdown-menu{
    position:absolute;
}

.nav-item {
    text-align: center;
}

.nav-width {
    width: 120px;
}


/* hamburger menu and language changer for responsive*/
#langham {
    width:50%;
}

#language_sm {
    display: inline-block;
}

#hamburger {
    display: inline-block;
    position:relative;
}
.nav-item2 {
    position: relative;
    list-style: none;
    color:black;
    
}

.nav-item2 .nav-link2{
    color: black;
    list-style: none;
}


@media(min-width: 767px){
    #language_sm {
     display: none;
 }
}

/* menu for responsive end*/
#burger_menu{
    background-color:white;
    position: absolute;
    z-index: 999999999;
    top:0;
    left:0;
    margin-top:4000px;
    width:770px;
    height: 1391px;
    
}

@media (min-width:767px){
    #burger_menu{
        display: none;
    }
}

@media (max-width:375px){
    #burger_menu{
        height:1500px;
    }
}

#burger_menu {
    width: 100%;
}

#burger_menu2 {
    width: 85%;
    margin: auto;
    margin-top: 200px;

}

#exit_button{
    width: 100%;
    display:block;
    text-align: right;
    padding-right: 100px;
    padding-top:30px;
    font-size:50px;
}

@media (max-width:375px){
    #exit_button{
        padding-right: 50px;
    }
}


#exit_button a {
    color:black;
    font-family: helvetica;
    font-weight:100;
}

#burger_about {
    width:100%;
    font-size: 70px;
    padding-left: 100px;
}

@media (max-width:375px){
    #burger_about{
       font-size:45px;
       padding-left:50px;
       position: relative;
       bottom:120px;
   }
}

#burger_about a{
    color: black;
    font-family: helvetica;
    font-weight: 530;
    letter-spacing: 1px; 
}

#burger_work {
    width:100%;
    font-size: 70px;
    padding-left: 100px;
}

@media (max-width:375px){
    #burger_work{
       font-size:50px;
       padding-left:45px; 
       position: relative;
       bottom:120px;
   }
}

#burger_work a{
    color: black;
    font-family: helvetica;
    font-weight: 530;
    letter-spacing: 1px; 
}

#burger_contact {
    width:100%;
    font-size: 70px;
    padding-left: 100px;
}

@media (max-width:375px){
    #burger_contact{
       font-size:50px;
       padding-left:45px; 
       position: relative;
       bottom:120px;
   }
}

#burger_contact a {
    color: black;
    font-family: helvetica;
    font-weight: 530;
    letter-spacing: 1px; 
}

#burger_icon {
    margin: auto;
    position: absolute;
    right: 50px;
    bottom: 500px;
    width: 50%;
    text-align: right;
}

@media (max-width:375px){
    #burger_icon{
        top:470px;
        right: 20px;
    }
}

#burger_icon li {
    list-style: none;
    display: inline-block;
}

#burger_icon li a {
    color:black;
    font-size: 50px;
}
/********** burger finished**************/


#icon_dropdown {
    width: 141px;
    height: auto;
    display: inline-block;
    margin-left: 20px;
}

#icon_dropdown li {
 display: inline-block;
}


#underline {
    width: 23px;
    height: 8px;
    border-bottom: black solid 1px;
    position: relative;
    left: 30px;
}

#content {
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: -10px;
    overflow: hidden;
    position: relative;
}
/*Ring image---------------------*/


#content_img {
    position: absolute;
    right: -250px;
    top: 50px;
}

@media (max-width:379px){
    #content_img {
        right: -130px;
        top:350px;
        
    }
}


#content_img img {
    width: 550px;
    height: 550px;
}

@media (max-width:379px){
    #content_img img{
        width:300px;
        height:300px;
    }
}
/*Ring image finished---------------------*/

/******big number******/

#project01 {
    font-family: helvetica;
    font-size: 300px;
    font-weight: bold;
    position: relative;
    left: -75px;
    top: -60px;

}

@media (max-width:379px){
    #project01{
        font-size: 160px;
        left: 0px;
        top: -30px;
        left: -40px;
    }
}

/******big number ends******/

/* Project1 */
#project1 {
    width: 450px;
    position: absolute;
    left: 300px;
    top: 185px;
    z-index: 10;
}

@media (max-width:379px){
    #project1{
        width:300px;
        left: 50px;
        top: 180px;
    }
}



#project1 h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0px;
    padding-bottom: 20px;
    font-family: helvetica neue;
}

@media (max-width:379px){
    #project1 h1{
        font-size: 35px;
    }
}


#project1_line {
    width: 130px;
    border-top: solid 1.5px black;
       
}


@media(max-width: 379px){
#project1_line {
    width: 80px;
    /*font-weight: bold;*/
}
}

#project1_content1 {
    width: 100%;
    padding-top: 20px;
    /*font-weight: bold;*/
}

@media(max-width: 379px){
#project1_content1 {
    width: 100%;
    padding-top: 12px;
    /*font-weight: bold;*/
}
}


/* project1 box end*/



/* phone image in the middle */

#phone_image{
    width: 100%;
    height: 500px;
    position: relative;
}

@media(max-width: 379px){
#phone_image{
    width: 100%;
    height: 600px;
    position: relative;

}
}



#phone_image1 {
    width: 210px;
    height: 410px;
    position: absolute;
    left: 520px;
    top: 30px;
    /*top: 520px;
    right: 455px;  */
   /* position: relative;
    left: 510px;
    top: 40px;*/
    z-index: 10;
}

@media(max-width: 379px){
#phone_image1 {
    width: 210px;
    height: 410px;
    padding-top: 12px;
    left: 5%;
    top: 250px;
    /*font-weight: bold;*/
    z-index: 11;
}
}


#phone_image2 {
    width: 210px;
    height: 410px;
   /* position: absolute;
    top: 520px;
    right: 455px;*/  
    position: absolute;
    top: -50px;
    right:380px;
}

@media(max-width: 379px){
#phone_image2 {
    width: 210px;
    height: 410px;
    padding-top: 12px;
    right: 5%;
    top: 200px;
    /*font-weight: bold;*/
    z-index: 10;
}
}

#phone_image1 img {
    width: 100%;
    height: 100%;
}


#phone_image2 img {
    width: 100%;
    height: 100%;
}

/* phone image in the middle end */



/* main contents of project1*/

#content1 {
    width: 100%;
    min-height: 600px;
    margin-top: 150px;
    margin-bottom: 50px;
}

/* slider start */
.container1 {
    max-width: 900px;
    height: auto;
   /* background-color: #f2f2f2;*/
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
}


.slider_container {
    position: absolute;
    width: 100%; 
    padding: 0;
    left: 0;
}

.slide {
    position: absolute;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    overflow: hidden;
}

.slide_image {
    width: 100%;
    height: auto;
}


.slide img {
    width: 210px;
    height: 410px;  
   /* position: relative;
    left: 510px;
    top: 40px;*/
    background-color: white;
}

@media (max-width:375px){
.noshow {
    display:none;
}
}

.slide_contents {
    padding-top: 40px;
    width: 100%;
    height: 150px;
    margin-bottom: 100px;
}

@media (max-width:375px){
.slide_contents  {
    margin-bottom:150px;
 

}
}
@media (max-width:375px){
.slide_contents h3 {
    font-size:20px;
 

}
}

@media (max-width:375px){
.slide_contents p {
    font-size:12px;
 

}
}


.slider_container.animated{
    -webkit-transition: left .5s ease-in;
    transition: left .5s ease-in;
}
/* pager CSS */

.pager{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

}

.pager span {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    text-indent: -9999em;
    margin: 0 10px; 
}

.pager span.active {
    background: #333;
}

/* slider buttons*/

#arrows{
    width:50%;
}

@media (max-width:375px){
#arrows {
    width:50%;
    height:100%;
    position: relative;
    margin:auto;
    text-align:center;

}
}

@media (max-width:375px){
#arrows2 {
    width:25%;
    height:25%;
    margin:auto;
}
}

#prev,
#next{
    position: absolute;
    top: 30%;
    left: 46%;
    transform: translateY(-50%);
    z-index: 999999;
    display: inline-block;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

@media (max-width:375px){
#prev, #next {
    right:10%;
    top: 28%;
    left: 37%;
    transform: translateY(-50%);
    z-index: 999999;
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;

}
}

#prev.disabled, #next.disabled {display: none;}

#prev {

    font-size: 50px;
    line-height: middle;
    text-align: center;
    padding-top: 10px;
    margin-left: -40%;
}

@media (max-width:375px){
#prev{
    margin-left:-85%;
    padding-top:0;

}
}

@media (max-width:330px){
#prev{
    margin-left:-90%;
 

}
}
@media (max-width:290px){
#prev{
    margin-left:-95%;
 

}
}



#prev:hover {
    background-color: #f2f2f2;
}

#next {
    font-size: 50px;
    padding-top: 10px;
    text-align: center;
    margin-left: 37%;
}

@media (max-width:375px){
#next{
    margin-left:85%;
      padding-top:0;
}
}

@media (max-width:330px){
#next{
    margin-left:85%;
      
}
}

#next:hover {
    background-color: #f2f2f2;
}

/* slider end*/


/* project1 animation*/


/*
h1 {
    position: relative;
    display: block;
    margin: 0;
    line-height: 1;
    transform: translateY(3rem);
    animation: down 500ms linear forwards;
    z-index: 1;
    text-shadow: 0px 3px 3px rgba(255,255,255,1);
    
    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 0px;
        height: 1px;
        left: 0;
        z-index: -1;
    }
    
    &::before {
        top: 1.4rem;
        animation: draw 500ms;
    }
    
    &::after {
        bottom: 0.4rem;
        animation: draw 500ms
    }
    
}

.title-container {
    font-size: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 0.4rem;
}

@keyframes down {
    
    100% {
        transform: translateX(0);
    }
    
}

@keyframes draw {
    
    100% {
        width: 100%;
    }
    
}

*/


/* below nav */
#foot_nav {
    width: 100%;
    height: 50px;
}

#foot_nav_left {
    width: 33%;
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    font-family: helvetica;
}


#foot_nav_mid {
    width: 33%;
    display: inline-block;
    text-align: center;
    font-family: helvetica;
}

#foot_nav_right {
    width: 33%;
    display: inline-block;
    text-align: right;
    font-family: helvetica;
    padding-right: 20px;
}

#foot_nav_right a {
    color: black;
    font-family: helvetica;
}

/* footer start*/

#footer {
    width: 100%;
    border-top: 2px solid lightgrey;
  /*  background-color: #f5f5f5;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width:767px){
    #footer {
        width:100%;
    }
}

@media (max-width:479px){
    #footer {
        width:100%;
        height:120px;
    }
}

@media (max-width:375px){
    #footer {
        width:100%;
        height:100px;
    }
}


#copyright {
    width: 50%;
    display: inline-block;
    position: relative;
}

@media (max-width:479px){
    #copyright {
        width:100%;
        text-align:center;
        top:60px;
    }
}
@media (max-width:375px){
    #copyright {
        width:100%;
        text-align:center;
        top:50px;
    }   
}

#copyright address {
    display: inline-block;
    font-size: 15px;
    color: #646973;
    list-style: none;
}

#copyright li {
    display: inline-block;
}

#footer_lang {
    display: inline-block;
}

#footer_lang i {
    margin: 10px;
}

#footer_icons {
    width: 49%;
    text-align: right;
    display: inline-block;
    list-style: none;
}

@media (max-width:479px){
    #footer_icons {
        width:100%;
        text-align:center;
        position:relative;
        bottom:40px;

    }
}

@media (max-width:375px){
    #footer_icons {
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 40px;
    }
}

#footer_icons li{
    display: inline-block;

}

#footer_icons li a {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

@media (max-width:479px){
 #footer_icons li a{
    font-size: 25px;
    margin-left: 18px;
    margin-right: 18px;
    padding-bottom: 15px;
}
}

@media (max-width:375px){
 #footer_icons li a {
    font-size: 20px;
}
}

/* 상위로 보내주는 버튼*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 105px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
/*  background-color: ;  Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 25px; /* Rounded corners */
  font-size: 15px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
