
* {
    font-family: 'inter', sans-serif;
    -webkit-font-smoothing: antialised;
}


html, body {
    margin:auto;
    padding:0;
    max-width:1920px;
    height:100%;
}

.navbar { box-shadow: none !important; }


.btn { box-shadow: none !important; }

#container {
    max-width: 1194px;
    height: auto;
    margin: auto;
    overflow: hidden;
}

#header {
    height:100px;
    position: relative;
    height:100px;
}

@media (max-width: 1023px){
    #header { 
        height: 100px; 
    }
}

@media (max-width: 767px){
    #header { 
        height: 100px;

    }
}

@media (max-width: 479px){
    #header { 
        height: 80px;

    }
}

@media (max-width: 379px){
    #header { 
        height: 100px;
        margin-top: -20px;
        padding-left:0;
        padding-right:0;

    }
}


.nav-link {
    color: black;
}

#main_logo {
    padding-top:35px;
    padding-left:20px;
    z-index: 99999;
}

#main_logo img{
    width: 80px;
    height: auto;
}

@media (max-width: 1023px){
    #main_logo img { 
        width: 80px; 
    }
}

@media (max-width: 767px){
    #main_logo img { 
        width: 80px;

    }
}

@media (max-width: 479px){
    #main_logo img { 
        width: 70px;

    }
}
.dropdown-menu{
    position:absolute;
}

.nav-item{
    text-align: center;
}

.nav-width {
    width: 120px;
}

/* hamburger menu and language selector*/

/* hamburger menu and language changer for responsive*/
#langham {
    width:50%;
}

#language_sm {
    display: inline-block;
}

#hamburger {
    display: inline-block;
    position:relative;
}

.nav-item2 {
    position: relative;
    list-style: none;
    color:black;
    
}

.nav-item2 .nav-link2{
    color: black;
    list-style: none;
}


@media(min-width: 767px){
    #language_sm {
     display: none;
 }
}

/* menu for responsive end*/
#burger_menu{
    background-color:white;
    position: absolute;
    z-index: 999999999;
    top:0;
    left:0;
    margin-top:4000px;
    width:770px;
    height: 1391px;
    
}

@media (min-width:767px){
    #burger_menu{
        display: none;
    }
}

@media (max-width:375px){
    #burger_menu{
        height:1500px;
    }
}

#burger_menu {
    width: 100%;
}

#burger_menu2 {
    width: 85%;
    margin: auto;
    margin-top: 200px;

}

#exit_button{
    width: 100%;
    display:block;
    text-align: right;
    padding-right: 100px;
    padding-top:30px;
    font-size:50px;
}

@media (max-width:375px){
    #exit_button{
        padding-right: 50px;
    }
}


#exit_button a {
    color:black;
    font-family: helvetica;
    font-weight:100;
}

#burger_about {
    width:100%;
    font-size: 70px;
    padding-left: 100px;
}

@media (max-width:375px){
    #burger_about{
       font-size:45px;
       padding-left:50px;
       position: relative;
       bottom:120px;
   }
}

#burger_about a{
    color: black;
    font-family: helvetica;
    font-weight: 530;
    letter-spacing: 1px; 
}

#burger_work {
    width:100%;
    font-size: 70px;
    padding-left: 100px;
}

@media (max-width:375px){
    #burger_work{
       font-size:50px;
       padding-left:45px; 
       position: relative;
       bottom:120px;
   }
}

#burger_work a{
    color: black;
    font-family: helvetica;
    font-weight: 530;
    letter-spacing: 1px; 
}

#burger_contact {
    width:100%;
    font-size: 70px;
    padding-left: 100px;
}

@media (max-width:375px){
    #burger_contact{
       font-size:50px;
       padding-left:45px; 
       position: relative;
       bottom:120px;
   }
}

#burger_contact a {
    color: black;
    font-family: helvetica;
    font-weight: 530;
    letter-spacing: 1px; 
}

#burger_icon {
    margin: auto;
    position: absolute;
    right: 50px;
    bottom: 500px;
    width: 50%;
    text-align: right;
}

@media (max-width:375px){
    #burger_icon{
        top:470px;
        right: 20px;
    }
}

#burger_icon li {
    list-style: none;
    display: inline-block;
}

#burger_icon li a {
    color:black;
    font-size: 50px;
}




/* hamburger menu and language selector finished*/

#icon_dropdown {
    width:141px;
    height:auto;
    display:inline-block;
    margin-left: 20px;
}

#icon_dropdown li {
   display: inline-block;
}


#underline {
    width:23px;
    height: 8px;
    border-bottom: black solid 1px;
    position: relative;
    left: 30px;
}

#content {
    width: 100%;
    min-height: 510px;
    background-color: white;
    margin-top: -10px;
    overflow: hidden;
    position: relative;
}

#content_box{
    width: 500px;
    position: relative;
    left: 150px;
    top: 130px;
}

@media (max-width:767px){
    #content_box {
        left:15%;

    }
}


@media (max-width:479px){
    #content_box {
        left:15%;

    }
}

@media (max-width:375px){
    #content_box {
        left:15%;

    }
}

/* Project1 */

#project1 {
    position: relative;
}

#project1 h1 {
    font-size: 50px;
    font-weight: 700;
}

@media (max-width:767px){
    #project1 h1 {
        font-size: 40px;
    }
}

@media (max-width:479px){
    #project1 h1 {
        font-size: 37px;
    }
}

@media (max-width:375px){
    #project1 h1 {
        font-size: 35px;
    }
}

#project1 h1 a {
    color:black;
    font-family: helvetica neue;
    letter-spacing: 1px;
}

#project1_sub {
    width: 650px;
    height: 65px;
    border-bottom: 2px solid black;
    text-align: right;
    padding-top: 33px;
    /*font-weight: bold;*/
    font-size: 25px;
    position: absolute;
    font-family: helvetica neue;
    letter-spacing: 5px;
    bottom: -10px;
    left: -15px;
    opacity: 0;
    font-weight:300;
    vertical-align: bottom;
    /*left: 35px;*/
}

@media (max-width:375px){
    #project1_sub {
        font-size: 15px;
        width: 300px;
        height:30px;
        bottom:0;
        padding-top:0;

    }
}

#project1_sub:hover {
    bottom: 0px;
    opacity:1;
    left: 0px;
    -webkit-transition: all 1s;

}

/* project 1 end */

/* Project 2 */

#project2 {
    position: relative;
}

#project2 h1 {
    font-size: 50px;
    font-weight: 700;
}

@media (max-width:767px){
    #project2 h1 {
        font-size: 40px;
    }
}

@media (max-width:479px){
    #project2 h1 {
        font-size: 37px;
    }
}

@media (max-width:375px){
    #project2 h1 {
        font-size: 35px;
    }
}

#project2 h1 a {
    color:black;
    font-family: helvetica neue;
    letter-spacing: 1px;
}

#project2_sub {
    width: 620px;
    height: 65px;
    border-bottom: 2px solid black;
    text-align: right;
    padding-top: 33px;
    /*font-weight: bold;*/
    font-size: 25px;
    font-weight: 300;
    position: absolute;
    font-family: helvetica neue;
    letter-spacing: 5px;
    bottom: -10px;
    left: -15px;
    opacity: 0;
    /*left: 35px;*/
}

#project2_sub:hover {
    bottom: 0px;
    opacity:1;
    left: 0px;
    -webkit-transition: all 1s;
}

/* project 2 end */

/* Project 3 */
#project3 {
    position: relative;
}

#project3 h1 {
    font-size:50px;
    font-weight: 700;
}

@media (max-width:767px){
    #project3 h1 {
        font-size: 40px;
    }
}

@media (max-width:479px){
    #project3 h1 {
        font-size: 37px;
    }
}

@media (max-width:375px){
    #project3 h1 {
        font-size: 35px;
    }
}

#project3 h1 a {
    color:black;
    font-family: helvetica neue;
    letter-spacing: 1px;
}

#project3_sub {
    width: 590px;
    height: 65px;
    border-bottom: 2px solid black;
    text-align: right;
    padding-top: 33px;
    /*font-weight: bold;*/
    font-size: 25px;
    position: absolute;
    font-family: helvetica neue;
    letter-spacing: 5px;
    bottom: -10px;
    left: -15px;
    opacity: 0;
    font-weight: 300;
    /*left: 35px;*/
}

#project3_sub:hover {
    bottom: 0px;
    opacity:1;
    left: 0px;
    -webkit-transition: all 1s;

}

/* project 3 end */
/* Ring image */

#content_img {
    position: absolute;
    right: -186px;
    top: 120px;
}

@media (max-width:1023px){
    #content_img {
        right: -166px;
        top: 200px;
    }
}

@media (max-width:767px){
    #content_img {
        right: -136px;
        top: 270px;
    }
}

@media (max-width:479px){
    #content_img {
        right: -126px;
        top: 270px;
    }
}

@media (max-width:375px){
    #content_img {
        right: -136px;
        top: 300px;
    }
}


#content_img img {
    width:600px;
    height:600px;
}

@media (max-width:1023px){
    #content_img img {
        width: 500px;
        height: 500px;
    }
}

@media (max-width:767px){
    #content_img img {
        width: 400px;
        height: 400px;
    }
}

@media (max-width:479px){
    #content_img img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width:375px){
    #content_img img {
        width: 350px;
        height: 350px;
    }
}
/* Ring image end */

/* footer start */
#footer {
    width: 100%;
    border-top: 2px solid lightgrey;
    /*  background-color: #f5f5f5;*/
    padding-top:5px;
    padding-bottom:5px;
}

@media (max-width:767px){
    #footer {
        width:100%;
    }
}

@media (max-width:479px){
    #footer {
        width:100%;
        height:120px;
    }
}

@media (max-width:375px){
    #footer {
        width:100%;
        height:100px;
    }
}

#copyright {
    width: 50%;
    display: inline-block;
    position: relative;
}

@media (max-width:479px){
    #copyright {
        width:100%;
        text-align:center;
        top:60px;
    }
}
@media (max-width:375px){
    #copyright {
        width:100%;
        text-align:center;
        top:50px;
    }   
}

#copyright address {
    display: inline-block;
    font-size: 15px;
    color: #646973;
    list-style:none;
}

#copyright li {
    display: inline-block;
}

#footer_lang {
    display: inline-block;
}

#footer_lang i {
    margin: 10px;
}

#footer_icons {
    width: 49%;
    text-align: right;
    display: inline-block;
    list-style: none;
}

@media (max-width:479px){
    #footer_icons {
        width:100%;
        text-align:center;
        position:relative;
        bottom:40px;

    }
}

@media (max-width:375px){
    #footer_icons {
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 40px;
    }
}

#footer_icons li{
    display: inline-block;
}

#footer_icons li a {
    font-weight: bold;
    color: black;
    font-size: 18px;
    display: inline-block;
}

@media (max-width:479px){
 #footer_icons li a{
    font-size: 25px;
    margin-left: 18px;
    margin-right: 18px;
    padding-bottom: 15px;
}
}

@media (max-width:375px){
 #footer_icons li a {
    font-size: 20px;
}
}